.row
  .panel
    .panel-heading.panel-warning
      - if params[:search]
        条件
        = params[:search]
      - else
        选择条件
    .panel-body
      %table.table.table-condensed
        %tr
          %td
            星座：

        %tr
          %td
            性别：

        %tr
          %td
            地区：

.row
  .panel
    .panel-heading.panel-warning
      明星
    .panel-body
      %table.table.table-condensed
        - @stars.each_slice(2) do |stars|
          %tr
            - stars.each do |star|
              %td
                = image_tag star.avatar

                %ul.list-group.pull-left
                  - Star::COLUMN_HANS_MAP.keys[0..6].each do |k|
                    %li.list-group-item
                      = "#{Star::COLUMN_HANS_MAP[k]} ： #{star.send k}"
      = paginate @stars
