%p#notice= notice

%p
  %b Name:
  = @star.name
%p
  %b Gender:
  = @star.gender
%p
  %b Country:
  = @star.country
%p
  %b Dob:
  = @star.dob
%p
  %b Constellation:
  = @star.constellation
%p
  %b Career:
  = @star.career
%p
  %b Height:
  = @star.height
%p
  %b Rate:
  = @star.rate
%p
  %b Blood:
  = @star.blood
%p
  %b Home town:
  = @star.home_town
%p
  %b School:
  = @star.school
%p
  %b Company:
  = @star.company
%p
  %b Weight:
  = @star.weight
%p
  %b Religon:
  = @star.religon
%p
  %b Hobby:
  = @star.hobby
%p
  %b Desc:
  = @star.desc
%p
  %b Desc short:
  = @star.desc_short
%p
  %b Achievement:
  = @star.achievement
%p
  %b Event:
  = @star.event
%p
  %b Source:
  = @star.source

= link_to 'Edit', edit_star_path(@star)
\|
= link_to 'Back', stars_path
