.row
  %table.table
    %tr
      %td
        = image_tag @star.avatar, :class => "pull-left star-img", :height => "277", :width => "210"
  
      %td
        %ul.list-group
          - Star::COLUMN_HANS_MAP.keys[0..6].each do |k|
            %li.list-group-item
              = "#{Star::COLUMN_HANS_MAP[k]} ： #{@star.send k}"

  .panel.panel-primary
    .panel-heading 个人简介
    .panel-body
      = @star.desc


  .panel.panel-primary
    .panel-heading 个人成就
    .panel-body
      = @star.achievement

  .panel.panel-primary
    .panel-heading 大事计
    .panel-body
      = @star.event



