= form_for @news do |f|
  - if @news.errors.any?
    #error_explanation
      %h2= "#{pluralize(@news.errors.count, "error")} prohibited this news from being saved:"
      %ul
        - @news.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :source
    = f.text_field :source
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :cate
    = f.text_field :cate
  .field
    = f.label :subcate
    = f.text_field :subcate
  .actions
    = f.submit 'Save'
