!!!
%html{ :lang => "en" }
  %head
    %title 123大杂烩
    %meta{ :charset => 'utf-8' }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => 'IE=edge' }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1' }
    %meta{ :name => 'description', "content" => "IP地址查询,域名查询,IP地理位置查询,PM2.5,邮编,开放数据查询" }

    = stylesheet_link_tag "application", :media => :all, "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .container-fluid.color-bar
      .row-fluid
        .col-lg-4{:style => 'background-color: red;'} &nbsp;
        .col-lg-4{:style => 'background-color: green;'} &nbsp;
        .col-lg-4{:style => 'background-color: blue;'} &nbsp;
    .navbar{:role => 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{'data-toggle' => 'collapse', 'data-target' => '.navbar-collapse', 'type' => 'button'}
            %span.sr-only   Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => '/'} 123大杂烩
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.pull-right
            %li.active
              %a{:href => "/"} 新闻

            %li
              %a{:href => "#"} 笑话/段子
            %li
              %a{:href => "#"} 正能量
            %li
              %a{:href => "/stars"} 星资料


    .container
      = yield
      %footer
        &copy; 123dazahui.com


    = javascript_include_tag "application", "data-turbolinks-track" => true
    = render :partial => "widgets/statistics" if Rails.env.production?

